<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS & MySQL</title>
</head>
<body>
    <h1>Lista de alunos</h1>
    <ul>
        <% alunos.forEach(alunos => {%>
            <li> <%= alunos.nome %></li>
        <%}) %>
    </ul>
</body>
</html>